# Ignore environment files and VSCode settings
.vscode/
backend/src/comics-backend-go/.env
backend/comics-backend/app/src/main/resources/application-local.properties

# Backend - Go
## Go binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
## Ignore log files
backend/src/comics-backend/app.log

# Frontend - React
## Ignore node modules
# frontend/node_modules/
## Ignore package lock files
# frontend/package-lock.json
## Ignore build output
# frontend/public/

