# Ignore environment files and VSCode settings
.vscode/
backend/src/comics-backend/.env
backend/src/comics-backend/app.log

# Backend
## Go binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
