# Ignore Gradle project-specific cache directory
.gradle

# Ignore build output directory (except Jooq)
./build
app/build/classes
app/build/resources
app/build/tmp

# Ignore Java binaries
app/bin

# Ignore env file
.env
